.settings
.project

siclev-data/.settings
siclev-data/target
siclev-data/.classpath
siclev-data/.project

siclev-entities/.settings
siclev-entities/target
siclev-entities/.classpath
siclev-entities/.project

siclev-services/.settings
siclev-services/target
siclev-services/.classpath
siclev-services/.project

siclev-web/.settings
siclev-web/target
siclev-web/.classpath
siclev-web/.project